hostname {{hostname}}

interface Tunnel1
 description {{description}}
 ip address {{tunnel_ip}} 255.248.0.0
 no ip redirects
 ip mtu 1480
 ip nhrp authentication cisco
 ip nhrp map 10.207.1.1 10.107.1.2
 ip nhrp map multicast 10.107.1.2
 ip nhrp network-id 1
 ip nhrp nhs 10.207.1.1
 ip tcp adjust-mss 1420
 keepalive 2 3
 tunnel source {{interface}}
 tunnel mode gre multipoint
!
router bgp {{as_number}}
 no synchronization
 bgp log-neighbor-changes
 network {{network}} mask 255.255.255.255
 {% block bgp %}
 {% endblock %}
 no auto-summary
!
